body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#calendar{
    background-color: gray;
    height: fit-content;
    width: 714px;

    display: flex;
    flex-wrap: wrap;
}

.day{
    background-color: blanchedalmond;
    height: 130px;
    width: 100px;
    border: black 1px solid;
}

.emptyDay{
    height: 132px;
    width: 102px;
}